/* Global styles for the body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
                'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
                sans-serif;
  -webkit-font-smoothing: antialiased; /* For smoother fonts on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* For smoother fonts on Firefox */
}

/* Styles for code elements */
code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}
